@model Prescription

@{
    Layout = "~/Views/Account/_LoginLayout.cshtml";
    ViewBag.Title = "پرداخت آنلاین";
}

<div class="form-body">
    <div class="website-logo">
        <a href="">
            <div class="logo">
                <img class="logo-size" src="/Login/images/logo.png" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <br>
            <br>
            <br>
            <h3>پرداخت آنلاین</h3>
            <div class="info-holder">
                <img src="/Login/images/graphic7.svg" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 class="form-title">پرداخت آنلاین مبلغ دارو</h3>
                    <form method="post" asp-action="Pay">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="tab-content" id="stepsTabContent">
                            <div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1-tab">
                                <div class="form-subtitle">:مبلغ قابل پرداخت</div>
                                <div class="inline-el-holder">
                                    <div class="inline-el">
                                        <div class="rad-with-details">
                                            <div class="form-subtitle">
                                                @ViewBag.TotalCost تومان
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="form-subtitle">.لطفا اطلاعات خود را وارد نمایید</div>
                                <label>شماره کارت</label>
                                <div class="input-with-ccicon">
                                    <input type="text" class="form-control input-credit-card" required="" placeholder="1234 1234 1234 1234">
                                    <i id="ccicon"></i>
                                </div>
                                <div class="inline-el-holder">
                                    <div class="inline-el">
                                        <label>رمز دوم</label>
                                        <input type="password" class="form-control sm-content" required="" placeholder="123">
                                    </div>
                                    <div class="inline-el">
                                        <label>CVV2</label>
                                        <input type="text" class="form-control sm-content" required="" placeholder="123">
                                    </div>
                                    <div class="inline-el">
                                        <label>تاریخ انقضا</label>
                                        <input type="text" class="form-control sm-content" required="" placeholder="MM/YY">
                                    </div>
                                </div>
                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn">تایید</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        var cleaveCreditCard = new Cleave(".input-credit-card", {
            creditCard: true,
            onCreditCardTypeChanged: function (type) {
                type = type.split("15")[0];
                $('.input-with-ccicon #ccicon').removeClass();
                if (type != "unknown") {
                    if (type == "diners") {
                        $('.input-with-ccicon #ccicon').addClass('fab fa-cc-diners-club');
                    } else {
                        $('.input-with-ccicon #ccicon').addClass('fab fa-cc-' + type);
                    }
                }
            }
        });</script>

}
