@model AddVisitViewModel
@inject AppDbContext DbContext
@{
    var patient = await DbContext.Patients.FindAsync(Model.Reservation.PatientId);
    ViewBag.Title = "نوشتن ویزیت برای " + patient.FullName;

    List<SelectListItem> insuranceList = (from insurance 
                                            in await DbContext.InsuranceProviders.ToListAsync() 
                                            select new 
                                                SelectListItem {Text = insurance.InsuranceName, Value = insurance.InsuranceName}).ToList();
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box p-b-0">
                <form id="addVisitForm" asp-action="AddVisit" method="post">
                    <h4 class="header-title m-t-0 m-b-30">نوشتن ویزیت برای @patient.FullName</h4>
                    <input asp-for="Reservation.PatientId" type="hidden" />
                    <input asp-for="Reservation.DoctorId" type="hidden" />
                    <input asp-for="Reservation.ReserveDate" type="hidden" />
                    <div id="progressbarwizard" class="pull-in">
                        <ul class="nav nav-tabs navtab-wizard nav-justified bg-muted">
                            <li class="active"><a href="#account-2" data-toggle="tab" aria-expanded="true">مشخصات ویزیت</a></li>
                            <li><a href="#profile-tab-2" data-toggle="tab">نسخه</a></li>
                            <li><a href="#finish-2" data-toggle="tab">ویزیت در آینده</a></li>
                        </ul>
                        <div class="tab-content b-0 m-b-0">
                            <div id="bar" class="progress progress-striped progress-bar-primary-alt">
                                <div class="bar progress-bar progress-bar-primary" style="width: 33.3333%;"></div>
                            </div>
                            <div class="tab-pane p-t-10 fade active in" id="account-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label asp-for="Visit.CauseOfPatientReferral" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Visit.CauseOfPatientReferral" class="form-control" placeholder="دلیل مراجعه بیمار">
                                            <span class="text-danger" asp-validation-for="Visit.CauseOfPatientReferral"></span>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label asp-for="Visit.DoctorAssessment" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Visit.DoctorAssessment" class="form-control" placeholder="تشخیص پزشک">
                                            <span class="text-danger" asp-validation-for="Visit.DoctorAssessment"></span>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label asp-for="Visit.DoctorNote" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Visit.DoctorNote" class="form-control" placeholder="در صورت نیاز یادداشتی برای ویزیت بنویسید">
                                            <span class="text-danger" asp-validation-for="Visit.DoctorNote"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-t-10 fade" id="profile-tab-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label asp-for="DrugList" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="DrugList" class="form-control" />
                                            <span class="help-block"><small>مثال: آستامینافن،1،سرماخوردگی،2</small></span>
                                            <span class="text-danger" asp-validation-for="DrugList"></span>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label asp-for="InsuranceProviderName" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <select class="form-control" asp-for="InsuranceProviderName" asp-items="insuranceList">
                                                <option value="">انتخاب کنید</option>
                                            </select>
                                            <span class="help-block"><small>در صورت عدم ارائه بیمه توسط بیمار، این فیلد را خالی بگذارید</small></span>
                                            <span class="text-danger" asp-validation-for="InsuranceProviderName"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-t-10 fade" id="finish-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label asp-for="ReserveDateAgain" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="ReserveDateAgain" id="pcal1" class="form-control pdate">
                                            <span class="text-danger" asp-validation-for="ReserveDateAgain"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group clearfix">
                                        <label asp-for="ReserveTimeAgain" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <select asp-for="ReserveTimeAgain" class="form-control">
                                                <option value="">ساعت مورد نظر را انتخاب کنید</option>
                                                <option value="08:00:00">8-10</option>
                                                <option value="10:00:00">10-12</option>
                                                <option value="12:00:00">12-14</option>
                                                <option value="14:00:00">14-16</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="ReserveTimeAgain"></span>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success">ثبت ویزیت</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager m-b-0 wizard">
                                <li class="previous first disabled" style="display:none;"><a href="#">اول</a></li>
                                <li class="previous disabled"><a href="#" class="btn btn-primary waves-effect waves-light">قبلی</a></li>
                                <li class="next last" style="display:none;"><a href="#">آخر</a></li>
                                <li class="next"><a href="#" class="btn btn-primary waves-effect waves-light">بعد</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Head
{
    <link rel="stylesheet" href="/Administrators/assets/css/calendar/jspc-royal_blue.css">
    <link href="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <script src="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <!-- scripts -->
    <script type="text/javascript" src="/Administrators/assets/css/calendar/js-persian-cal.min.js"></script>
}

@section Scripts
{
    <script src="/Administrators/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
    <script src="/Administrators/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#basicwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted' });

            $('#progressbarwizard').bootstrapWizard({
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    $('#progressbarwizard').find('.bar').css({ width: $percent + '%' });
                },
                'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted'
            });

            $('#btnwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted', 'nextSelector': '.button-next', 'previousSelector': '.button-previous', 'firstSelector': '.button-first', 'lastSelector': '.button-last' });

            var $validator = $("#commentForm").validate({
                rules: {
                    emailfield: {
                        required: true,
                        email: true,
                        minlength: 3
                    },
                    namefield: {
                        required: true,
                        minlength: 3
                    },
                    urlfield: {
                        required: true,
                        minlength: 3,
                        url: true
                    }
                }
            });

            $('#rootwizard').bootstrapWizard({
                'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#commentForm").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    }
                }
            });
        });

    </script>
    <script type="text/javascript">
        var objCal1 = new AMIB.persianCalendar('pcal1');
    </script>
    <script>
        $("#addVisitForm").submit(function(e) {
            e.preventDefault();

            var form = $(this);
            var url = form.attr('action');
            if ($('#Visit_CauseOfPatientReferral').val() && $('#Visit_DoctorAssessment').val()) {
                swal({
                title: "مطمئنی ؟؟",
                text: "آیا از افزودن ویزیت مطمئن هستی؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'بله!',
                closeOnConfirm: false
            },
            function(isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: function() {
                            swal({
                                title: "تبریک!",
                                text: "ویزیت با موفقیت انجام شد",
                                timer: 3000,
                                showConfirmButton: false
                            });
                            window.location.href =
                                '@Url.Action("Index", "Home")';
                        },
                        statusCode: {
                            404: function() {
                                swal({
                                        title: "دسترسی غیر مجاز!",
                                        text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                        type: "error",
                                        showCancelButton: false,
                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                        confirmButtonText: 'باشه ببخشید!',
                                        closeOnConfirm: true
                                    }
                                );
                            },
                            400: function () {
                                swal({
                                    title: "خطا!",
                                    text: "امکان ویزیت دوباره در این تاریخ و ساعت بدلیل تداخل با برنامه روزانه شما وجود ندارد!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            401: function () {
                                swal({
                                    title: "خطا!",
                                    text: "امکان ویزیت دوباره در روز جمعه وجود ندارد!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            402: function() {
                                swal({
                                    title: "خطا!",
                                    text: "ساعت ویزیت دوباره فرمت مناسبی ندارد!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            403: function () {
                                swal({
                                    title: "خطا!",
                                    text: "لطفا در نوشتن داروها دقت کنید!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            405: function () {
                                swal({
                                    title: "خطا!",
                                    text: "شما در این زمان با بیمار دیگری وقت ملاقات دارید!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            406: function () {
                                swal({
                                    title: "خطا!",
                                    text: "امکان ویزیت دوباره در گذشته و امروز وجود ندارد!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            409: function () {
                                swal({
                                    title: "خطا!",
                                    text: "ثبت بیمه بدون نوشتن نسخه امکان پذیر نیست!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            },
                            411: function () {
                                swal({
                                    title: "خطا!",
                                    text: "بیمار در تاریخ تعیین شده با پزشک دیگری وقت ملاقات دارد!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                    confirmButtonText: 'باشه!',
                                    closeOnConfirm: true
                                });
                            }
                        }
                    });
                }
            });
            }
        });
    </script>
}