<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="/HomePage/images/logo1.png" />
    <link rel="stylesheet" type="text/css" href="/Login/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Login/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/Login/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/Login/css/iofrm-theme7.css">
    <title>@ViewBag.Title</title>
</head>
<body>

    @RenderBody()

    <script src="/Login/js/jquery.min.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/Login/js/popper.min.js"></script>
    <script src="/Login/js/bootstrap.min.js"></script>
    <script src="/Login/js/main.js"></script>
</body>
</html>