
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/HomePage/images/logo4.png">

    <!-- App title -->
    <title>دسترسی غیر مجاز</title>

    <!-- App CSS -->
    <link href="/Administrators/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/Administrators/assets/js/modernizr.min.js"></script>

</head>
<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="ex-page-content text-center">
            <div class="text-error">403</div>
            <h2 class="text-error" style="font-size: 48px !important;">دسترسی غیر مجاز</h2>
            <br>
            <h4>
                شما مجاز به دسترسی به این صفحه نمی باشید.<br /><br /> لطفا به صفحه اصلی سایت و یا به پنل خود بازگردید
            </h4>
            <br>
            <div class="row">
                <a class="btn btn-primary waves-effect waves-light" asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
                <a class="btn btn-success waves-effect waves-light" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">بازگشت به پنل شخصی</a>
            </div>
        </div>
    </div>

    <script>
            var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="/Administrators/assets/js/jquery.min.js"></script>
    <script src="/Administrators/assets/js/bootstrap-rtl.min.js"></script>
    <script src="/Administrators/assets/js/detect.js"></script>
    <script src="/Administrators/assets/js/fastclick.js"></script>
    <script src="/Administrators/assets/js/jquery.slimscroll.js"></script>
    <script src="/Administrators/assets/js/jquery.blockUI.js"></script>
    <script src="/Administrators/assets/js/waves.js"></script>
    <script src="/Administrators/assets/js/wow.min.js"></script>
    <script src="/Administrators/assets/js/jquery.nicescroll.js"></script>
    <script src="/Administrators/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="/Administrators/assets/js/jquery.core.js"></script>
    <script src="/Administrators/assets/js/jquery.app.js"></script>

</body>
</html>