@{
    ViewBag.Title = "فراموشی رمز عبور";
}

<div class="form-body">
    <div class="website-logo">
        <a asp-controller="Home" asp-action="Index">
            <div class="logo">
                <img class="logo-size" src="/Login/images/logo.png" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <br>
            <br>
            <br>
            <h3>بازیابی رمز عبور</h3>
            <div class="info-holder">
                <img src="/Login/images/forget-pass.png" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 class="form-title">بازیابی رمز عبور</h3>

                    <form method="post">
                        <div class="tab-content" id="stepsTabContent">
                            <div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1-tab">
                                <div class="separator"></div>
                                <div class="form-subtitle">.لطفا ایمیل خود را وارد نمایید</div>
                                <input type="text" name="userEmail" class="form-control" placeholder="ایمیل">
                                <div class="text-danger">
                                    @ViewBag.Error
                                </div>
                                <div class="text-success">
                                    @ViewBag.Success
                                </div>
                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn">تایید</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>