@model Patient

@{
    ViewBag.Title = "ثبت نام";
}

<div class="form-body">
    <div class="website-logo">
        <a asp-action="Index" asp-controller="Home">
            <div class="logo">
                <img class="logo-size" src="/Login/images/logo.png" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">

            <div class="bg"></div>
            <br>
            <br>
            <br>
            <h3>بخش ثبت نام بیماران</h3>
            <div class="info-holder">
                <br />
                <img src="/Login/images/register.png" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>
                        لطفا برای استفاده از خدمات کلینیک
                        <br>
                        .ثبت نام کنید
                    </h3>
                    <br><br>
                    <div class="page-links">
                        <a href="#" class="active">ثبت نام</a>
                    </div>
                    <form method="post" asp-action="Register" asp-controller="Account">
                        <span class="text-danger" asp-validation-for="FullName"></span>
                        <input asp-for="FullName" class="form-control" placeholder="نام و نام خانوادگی  *" />

                        <span class="text-danger" asp-validation-for="Email"></span>
                        <input asp-for="Email" class="form-control" placeholder = "ایمیل  *" />

                        <span class="text-danger" asp-validation-for="Username"></span>
                        <input asp-for="Username" class="form-control" placeholder="نام کاربری  *" />

                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input asp-for="Password" id="password" class="form-control" placeholder="رمز عبور  *" />

                        <span class="text-danger" id="confirmPassword_validation"></span>
                        <input type="password" required="" id="confirmPassword" class="form-control" placeholder="تکرار رمز عبور  *" />

                        <span class="text-danger" asp-validation-for="NationalCode"></span>
                        <input asp-for="NationalCode" class="form-control" placeholder="کد ملی  *" />

                        <span class="text-danger" asp-validation-for="Age"></span>
                        <input asp-for="Age" class="form-control" placeholder="سن  *" />

                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="شماره تلفن  *" />

                        <span class="text-danger" asp-validation-for="Address"></span>
                        <input asp-for="Address" class="form-control" placeholder="آدرس" />

                        <span class="text-danger" asp-validation-for="ZipCode"></span>
                        <input asp-for="ZipCode" class="form-control" placeholder="کد پستی" />

                        <span class="text-danger" asp-validation-for="Gender"></span>
                        <select class="form-control" dir="rtl" asp-for="Gender"
                                asp-items="new SelectList(Enum.GetValues(typeof(GenderEnum)))">
                            <option>جنسیت *</option>
                        </select>

                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">ثبت نام</button>
                            <a asp-controller="Account" asp-action="Login">قبلا ثبت نام کرده اید؟</a>
                        </div>
                    </form>
                    <div class="other-links">
                        <a asp-action="Index" asp-controller="Home">بازگشت به صفحه ی اصلی</a><span class="fa fa-arrow-alt-circle-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Login/js/prevent-non-numbers.js"></script>
<script>
    $(function () {
        $('#submit').click(function (event) {
            if ($('#password').val() != $('#confirmPassword').val()) {
                $('#confirmPassword_validation').text("رمز عبور با تکرار آن مطابقت ندارد");
                // Prevent form submission
                event.preventDefault();
            }
        });
    });
</script>
