@model ResetPasswordViewModel
@{
    ViewBag.Title = "تنظیم رمز عبور جدید";
}

<div class="form-body">
    <div class="website-logo">
        <a asp-controller="Home" asp-action="Index">
            <div class="logo">
                <img class="logo-size" src="/Login/images/logo.png" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">

            <div class="bg"></div>
            <br>
            <br>
            <br>
            <h3>بازیابی رمز عبور</h3>
            <div class="info-holder">
                <img src="/Login/images/forget-pass.png" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 class="form-title">بازیابی رمز عبور</h3>
                    <form method="post">
                        <div class="tab-content" id="stepsTabContent">
                            <div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1-tab">
                                <div class="separator"></div>
                                <div class="form-subtitle">.لطفا رمز جدید را وارد نمایید</div>
                                <label></label>
                                <input asp-for="NewPassword" class = "form-control", placeholder = "رمز عبور جدید"/>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>

                                <input asp-for="ConfirmPassword" class="form-control" , placeholder="تکرار رمز عبور جدید" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <div class="text-danger">
                                    @ViewBag.Error
                                </div>
                                <div class="text-success">
                                    @ViewBag.Success
                                </div>
                                @Html.HiddenFor(a => a.ResetCode)

                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn">تایید</button>
                                </div>
                                <div class="other-links ">
                                    <a asp-controller="Account" asp-action="Login">بازگشت به صفحه ی ورود</a><span class="fa fa-arrow-alt-circle-right"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
